@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #449ffa;
}
